<!-- Get a doctor-->
<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">How to get a Doctor</h2>
            <h3 class="section-subheading text-muted">We are here to ensure a smooth onboarding</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{{ url_for('static', filename='assets/img/about/create_account.jpg') }}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Registration</h4>
                        <h4 class="subheading">create account and login</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">To get started, click on the "Sign Up" button located at the top right corner of the page. Fill in the required information, such as your name, email address, and password. Ensure your password meets the specified criteria for security. Once completed, click "Create Account" to register successfully.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{{ url_for('static', filename='assets/img/about/choose_service.jpg') }}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="subheading">Choose a service</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Browse through our list of available medical consultation services on the homepage or the "Services" section. You can use the search bar or filter options to narrow down your choices based on specialties, doctors, or specific conditions. Click on the service of your choice to view more details, including doctor profiles and availability.</p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{{ url_for('static', filename='assets/img/about/schedule_appointment.jpg') }}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">

                        <h4 class="subheading">Schedule an appointment</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">After selecting a service, you'll be directed to the appointment scheduling page. Choose a convenient date and time for your consultation from the available slots displayed. If you prefer a specific doctor, you can select them at this stage as well. Once you've made your selections, click "Confirm" to proceed to the next step.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{{ url_for('static', filename='assets/img/about/medical_history.jpg') }}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="subheading">Provide medical history</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">To ensure the doctor has all the necessary information, we kindly request that you provide your medical history before the consultation. You'll be prompted to fill out a form where you can enter details about your current and past medical conditions, medications, allergies, and any other relevant information. Rest assured that your information is treated with strict confidentiality.</p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{{ url_for('static', filename='assets/img/about/complete_payment.jpg') }}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="subheading">Complete payment</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">For certain services, there may be a payment requirement. If applicable, you'll be guided to a secure payment page where you can choose your preferred payment method, such as credit card or PayPal. Follow the prompts to complete the payment process. Once the payment is successful, you'll receive a confirmation of your payment.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Confirm
                        <br />
                        payment
                        <br />
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>
