<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Welcome To MediApp</div>
        <!-- <div class="masthead-heading text-uppercase">Medical consultations from home</div> -->
        <a class="btn btn-primary btn-xl text-uppercase" data-bs-toggle="modal" data-bs-target="#registration">Get started</a>
    </div>
</header>
<!-- Security-->
<section class="page-section" id="security">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Security and Privacy</h2>
            <h3 class="section-subheading text-muted">We take seriously the data you provide</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Data Encryption</h4>
                <p class="text-muted">We employ industry-standard encryption protocols to safeguard your personal and medical information. Your data is encrypted during transmission and storage, ensuring that it remains confidential and secure</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-shield-alt fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Compliance with Privacy Regulations</h4>
                <p class="text-muted">We strictly adhere to the guidelines set forth by privacy regulations such as HIPAA and GDPR. Our system is designed to meet these rigorous standards, ensuring the highest level of privacy and protection for your data</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-credit-card fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Secure Online Transactions</h4>
                <p class="text-muted">Secure Online Transactions: We prioritize the security of your financial information. Our website incorporates secure payment gateways and SSL encryption, ensuring that your online transactions are protected and your payment details remain secure.</p>
            </div>
        </div>
    </div>
</section>
