<!-- login form -->
<div class="modal fade" id="login-form" tabindex="-1" role="dialog" aria-labelledby="login-title" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="text-align: center !important;" id="login-title">Login</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="account-type">Select Account Type</label>
                        <select class="form-select"  data-toggle="tooltip" data-placement="right" title="choose an account to login">
                            <option selected>Select</option>
                            <option id="doctor" data-toggle="tooltip" data-placement="right" title="Select if you are a doctor to login as a doctor">Doctor</option>
                            <option id="patient" data-toggle="tooltip" data-placement="right" title="Select if you are a patient or seeking consultation to login as a patient">patient</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" id="email" placeholder="email@gmail.com"/>
                    </div>
                    <div class="form-group">
                        <label for="password">password</label>
                        <input type="password" class="form-control" id="email"/>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" style="text-align: center;" type="submit">Login</button>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Login</button> -->
            </div>

        </div>
    </div>
</div>
