<div class="portfolio-modal modal fade" id="registration" tabindex="-1" role="dialog" aria-labelledby="login-title" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h5 class="modal-title" style="text-align: center !important;" id="login-title">Sign Up</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div> -->
      <div class="close-modal" data-bs-dismiss="modal"><img src="{{ url_for('static', filename='assets/img/close-icon.svg') }}" alt="Close modal" /></div>
      <div class="modal-body">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-lg-12 col-xl-11">
            <div class="card text-black" style="border-radius: 25px;">
              <div class="card-body p-md-5">
                <div class="row justify-content-center">
                  <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
                    <form method="post" action="/register" class="mx-1 mx-md-4">

                      <div class="form-group">
                          <label for="fname">First Name</label>
                          <input type="text" class="form-control" id="fname" placeholder="first name"/>
                      </div>

                      <div class="form-group">
                          <label for="fname">Last Name</label>
                          <input type="text" class="form-control" id="lname" placeholder="first name"/>
                      </div>

                      <div class="form-group">
                          <label for="email">Email</label>
                          <input type="text" class="form-control" id="email" placeholder="email@gmail.com"/>
                      </div>


                      <div class="form-group">
                          <label for="account-type">Select Role</label>
                          <select class="form-select"  data-toggle="tooltip" data-placement="right" title="choose an account to login">
                              <option selected>Select</option>
                              <option id="doctor" data-toggle="tooltip" data-placement="right" title="Select if you are a doctor to login as a doctor">Doctor</option>
                              <option id="patient" data-toggle="tooltip" data-placement="right" title="Select if you are a patient or seeking consultation to login as a patient">patient</option>
                          </select>
                      </div>

                      <div class="form-group">
                          <label for="password">Password</label>
                          <input type="password" class="form-control" id="password" placeholder="password"/>
                      </div>



                      <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                        <button type="submit" class="btn btn-primary btn-lg">Register</button>
                      </div>

                    </form>

                  </div>
                  <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                    <img src="{{ url_for('static', filename='assets/img/stethoscope.jpg') }}"
                      class="img-fluid" alt="Sample image">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-center align-items-center">
        <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
          <i class="fas fa-xmark me-1"></i>
          Close
        </button>
      </div>
    </div>
  </div>
</div>

  <!-- <div class="portfolio-modal modal fade" id="registration" tabindex="-1" role="dialog" aria-hidden="">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-bs-dismiss="modal"><img src="{{ url_for('static', filename='assets/img/close-icon.svg') }}" alt="Close modal" /></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="modal-body">
                <div class="row d-flex justify-content-center align-items-center">
                  <div class="col-lg-12 col-xl-11">
                    <div class="card text-black" style="border-radius: 25px;">
                      <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                          <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                            <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
                            <form class="mx-1 mx-md-4">

                              <div class="form-group">
                                  <label for="fname">First Name</label>
                                  <input type="text" class="form-control" id="fname" placeholder="first name"/>
                              </div>

                              <div class="form-group">
                                  <label for="fname">Last Name</label>
                                  <input type="text" class="form-control" id="lname" placeholder="first name"/>
                              </div>

                              <div class="form-group">
                                  <label for="email">Email</label>
                                  <input type="text" class="form-control" id="email" placeholder="email@gmail.com"/>
                              </div>


                              <div class="form-group">
                                  <label for="account-type">Select Role</label>
                                  <select class="form-select"  data-toggle="tooltip" data-placement="right" title="choose an account to login">
                                      <option selected>Select</option>
                                      <option id="doctor" data-toggle="tooltip" data-placement="right" title="Select if you are a doctor to login as a doctor">Doctor</option>
                                      <option id="patient" data-toggle="tooltip" data-placement="right" title="Select if you are a patient or seeking consultation to login as a patient">patient</option>
                                  </select>
                              </div>

                              <div class="form-group">
                                  <label for="password">Password</label>
                                  <input type="password" class="form-control" id="password" placeholder="password"/>
                              </div>



                              <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                <button type="button" class="btn btn-primary btn-lg">Register</button>
                              </div>

                            </form>

                          </div>
                          <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                              class="img-fluid" alt="Sample image">

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
