<!-- Team-->
<section class="page-section bg-light" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
            <h3 class="section-subheading text-muted">Seasoned doctors and programmers working together to ensure a robust system and patient well-being.</h3>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="{{ url_for('static', filename='assets/img/team/samsonkimani.jpg') }}" alt="..." />
                    <h4>Samson kimani</h4>
                    <p class="text-muted">Lead System Designer</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="samsonkimani Twitter Profile"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="samsonkimani Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="samsonkimani LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="{{ url_for('static', filename='assets/img/team/lucymaina.jpeg') }}" alt="..." />
                    <h4>Dr Lucy Maina</h4>
                    <p class="text-muted">Seasoned Medical practitioner</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="lucymaina Twitter Profile"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="lucymaina Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="lucymaina LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="{{ url_for('static', filename='assets/img/team/nderitu.jpeg') }}" alt="..." />
                    <h4>Dennis Kinyanjui</h4>
                    <p class="text-muted">Lead Business Developer</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="nderitu Twitter Profile"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="nderitu Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="nderitu LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Our team is composed of highly experienced doctors who bring extensive medical knowledge and expertise to provide excellent patient care. Additionally, our talented programmers work diligently to develop and maintain a reliable and user-friendly system, ensuring a seamless experience for our patients. With this unique combination of medical and technical expertise, we prioritize both the well-being of our patients and the efficiency of our system</p></div>
        </div>
    </div>
</section>
