header {
    background-color: #79E3FB;
    border-radius: 3px;
    overflow: hidden;
    top:0;
    /* position: fixed; */
    /* width: 100%; */
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
  }

  .logo img {
    height: 70px; /* Adjust the height as needed */
    object-fit: fill;
  }

  nav {
    margin-right: 50px;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  nav ul li {
    margin-left: 10px; /* Adjust the spacing between links */
    margin-right: 10px;
  }

  nav ul li a {
    text-decoration: none;
    color: #333;
  }
.doctors-section {
    margin-top: 50px;
}

.section-items {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 10px;
}

.right-section{
    width: 100%;
    border: 2px solid #79E3FB;
    border-radius: 10px;
}

.left-section {
    border: 2px solid #79E3FB;
    border-radius: 10px;
}

.doctors-navigation li a{
    text-decoration: none;
}

.doctors-navigation li{
    text-decoration: none;
    margin-bottom: 5px;
}
.doctors-navigation{
    list-style-type: none;
    /* text-decoration: none; */
    font-size: 20px;
    width: 100%;
}

.doctors-navigation hr {
    height: 2px;
    background-color: #79E3FB;
    text-align: center;
}
