<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="index.css">
    <title>MediApp</title>
</head>

<body>
    <div class="container">
        <!--navbar and logo section-->
        <header>
            <div class="navbar">
                <div class="logo">
                    <img src="../images/MediAppLogo.png" alt="logo">
                </div>
                <nav>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Register</a></li>
                        <li><a href="#">Login</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- hero section-->
        <section>
            <div class="hero-section">
                <div class="text-button-area">
                    <h1>GET ACCESS TO TOP QUALIFIED DOCTORS FOR ONLINE
                        CONSULTATIONS
                    </h1>

                    <P>Say goodbye to the hassle of searching endlessly,
                        as we connect you with the perfect healthcare professional in just a few taps.
                        Get the care you deserve with our seamless and reliable service.</P>
                    <button><a href="#">CONSULT A DOCTOR</a></button>
                </div>
                <div class="hero-image">
                    <img src="../images/doctor.png" alt="image of a doctor">
                </div>
            </div>
        </section>

        <!--services section-->

        <section>
            <div class="our-services">
                <div class="services-details">
                    <h2>Our services</h2>
                    <h3>Get in touch with your doctor</h3>
                </div>
                <div class="cards">
                    <div class="card-item">
                        <img src="../images/Generalpractitioner.png" alt="">
                        <span>Generalpractitioner</span>
                    </div>
                    <div class="card-item">
                        <img src="../images/ObstetricsandGynaecology.png" alt="">
                        <span>Obstetrics and Gynaecology</span>
                    </div>
                    <div class="card-item">
                        <img src="../images/General physician.png" alt="">
                        <span>General physician</span>
                    </div>
                    <div class="card-item">
                        <img src="../images/Psychiatry.png" alt="">
                        <span>Psychiatry</span>
                    </div>
                    <div class="card-item">
                        <img src="../images/Gastroenterology.png" alt="">
                        <span>Gastroenterology</span>
                    </div>
                    <div class="card-item">
                        <img src="../images/Pediatrics.png" alt="">
                        <span>Pediatrics</span>
                    </div>
                </div>
            </div>
        </section>

        <!--footer section-->

    </div>

</body>

</html>