<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="index.css">
    <title>MediApp - Register Patient</title>
</head>

<body>
    <div class="container">
    <!--navbar and logo section-->
        <header>
            <div class="navbar">
                <div class="logo">
                    <img src="./images/MediAppLogo.png" alt="logo">
                </div>
                <nav>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Register</a></li>
                        <li><a href="#">Login/Register</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <!-- hero section-->
        <section>
            <div class="hero-section">
                <div class="text-button-area">
                    <h1>GET ACCESS TO TOP QUALIFIED DOCTORS FOR ONLINE
                        CONSULTATIONS
                    </h1>

                    <P>Say goodbye to the hassle of searching endlessly,
                        as we connect you with the perfect healthcare professional in just a few taps.
                        Get the care you deserve with our seamless and reliable service.</P>
                    <button><a href="#">CONSULT A DOCTOR</a></button>
                </div>
                <div class="hero-image">
                    <img src="../images/doctor.png" alt="image of a doctor">
                </div>
            </div>
        </section>
    </div>

    <div class="container">
        <h2>Patient Registration</h2>
        <form action="{{ url_for('register_patient') }}" method="post" autocomplete="off">

            <div class="form-group">
                <label for="name">Full Name:</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter First name"
                    name="name">
            </div>

            <div class="form-group">
                <label for="name">Username:</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter Username" name="name">
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" name="email">
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter password"
                    name="pswd">
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
            <p class="bottom">Already have an account? <a class="bottom" href="{{ url_for('login_patient') }}"> Login here</a></p>
        </form>
    </div>

</body>

</html>