<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="index.css">
    <title>MediApp - User Login</title>
</head>

<body>
    <div class="container">
        <!--navbar and logo section-->
        <header>
            <div class="navbar">
                <div class="logo">
                    <img src="/images/MediAppLogo.png" alt="logo">
                </div>
                <nav>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Services</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- hero section-->
        <section>
            <div class="hero-section">
                <div class="text-button-area">
                    <h1>GET ACCESS TO TOP QUALIFIED DOCTORS FOR ONLINE
                        CONSULTATIONS
                    </h1>

                    <P>Say goodbye to the hassle of searching endlessly,
                        as we connect you with the perfect healthcare professional in just a few taps.
                        Get the care you deserve with our seamless and reliable service.</P>
                    <button><a href="#">CONSULT A DOCTOR</a></button>
                </div>
                <div class="hero-image">
                    <img src="./images/doctor.png" alt="image of a doctor">
                </div>
            </div>
        </section>

          <section>
            <div class="container">

                    <h1><a href="login_patient.html">Login as Patient</a></h1>

                    <h1><a href="login_doctor.html">Login as Doctor</a></h1>



            </div>
        </section>



        <!--services section-->

        <!--footer section-->

    </div>

</body>

</html>